
// 网站背景，可选择随机切换url(https://source.unsplash.com/random/1600x900); 
body {
    background:url(https://source.unsplash.com/random/1600x900);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
	background-size:cover;
}

// 背景透明度
.main-inner { 
    opacity: 0.9;
    min-height: 500px;
}

// 标题栏背景
.site-meta {
  background: $blue; 
}